.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.data-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	border: 1px solid black;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	padding: 1rem;
	width: 25%;
}

.controls select,
.controls input {
	width: 90%;
	margin: 1rem 0;
}

