.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.data-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	border: 1px solid black;
	width: 100%;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	padding: 1rem;
	width: 25%;
}

.controls label {
	margin: 0;
}

.controls select,
.controls input,
.controls button {
	width: 90%;
	height: 2rem;
	font-size: 1.25rem;
	margin: 1rem 0;
}

.controls button {
	background-color: mediumseagreen;
	color: black;
	padding: 0.25rem;
	border: none;
	border-radius: 0.25rem;
}

