.housing-list {
	display: flex;
	flex-direction: column;
}

.housing-list ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.housing-list li {
	list-style: none;
	background-color: black;
	color: white;
	width: 30%;
	margin: 1rem 0;
	padding: 0.5rem;
}